@import "../../variables.scss";
.title {
    text-transform: uppercase;
}

.drawerTitleContainer {
    padding-left: 24px;
    height: 64px;
    justify-content: space-between;
    background-color: $primary-color;
    color: #fff;
}

.flexCenter {
    width:100%;
    display: flex;
    flex-flow: row;
    align-items: center;
}


.closeDrawerBtn {
    // background-color: #fff;
    margin-left: 1rem;
    margin-right: 1rem;
}

.drawerPaper {
    background-color: $gray;
}